@import url("index.css");

/* input form */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background: var(--primary-gradient);
  width: 90vw;
  margin: auto;
  margin: 2rem auto;
  border-radius: 24px;
}
.hero .hero_about {
  flex: 0.6;
}
.hero .form {
  flex: 0.4;
  padding: 40px 5%;
  min-height: 50vh;
  border-radius: 24px;
  border: 2px solid var(--secondary-color-light);
  box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.31);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  font-size: 17px;
  background-color: #ffff;
}
.hero .form .artifactInputForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.hero .form h1 {
  color: var(--text-dark);
  font-size: 28px;
  font-weight: 700;
}
.hero .form button {
  background-color: var(--secondary-color);
  height: 80px;
  margin: auto;
  padding: 0 2rem;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
  color: #ffff;
}
.hero .form button .icon img {
  width: 35px;
}
.artifactInputForm #digestortag {
  position: relative;
}
.artifactInputForm #registry {
  position: relative;
}
.tagListDropdown,
.registryDropdown {
  position: absolute;
  top: 70px;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  height: 165px;
  background: #ffff;
  box-shadow: 2px 7px 10px 0px rgba(0, 0, 0, 0.31);
  flex-direction: column;
  overflow: auto;
}
.tagListDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
}
.tagListDropdown p {
  padding: 5px 15px;
  cursor: pointer;
}
.tagListDropdown p:hover {
  background-color: var(--text-light);
}
.tagListDropdown .error,
.tagListDropdown .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: auto;
  flex-direction: column;
}
.tagListDropdown .error img,
.tagListDropdown .info img {
  width: 32px;
}
.registryDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.registryDropdown .items img {
  width: 20px;
}
.registryDropdown .items:hover {
  background-color: var(--text-light);
}
.artifactInputForm .form-control {
  font-size: medium;
}
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 3rem;
  padding-bottom: 1.625rem;
}
.artifactInputForm .form-floating > label {
  padding: 1.4rem 0.75rem;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  padding: 2.3rem 0.75rem;
}
.artifactInputForm .ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  top: 1.45rem;
}
.artifactInputForm .ui.selection.dropdown {
  line-height: 2em;
}
.artifactInputForm .ui.dropdown > .text {
  display: flex;
  align-items: center;
}
.tagListDropdown .skeletonLoader,
.registryDropdown .skeletonLoader {
  width: 95%;
  transform: translateX(10px);
  margin: 10px 0px;
  height: 50px;
}
/* content area */
#content_area {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  width: 80%;
  max-width: 1500px;
  margin: auto;
  gap: 1rem;
  margin: 7rem auto;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}
#content_area .metaData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}
#content_area .metaData #copyIcon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}

#content_area .main {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 3rem;
}
#content_area .main .leftSideBar {
  flex: 0.25;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 4px 5px 19px -7px rgba(0, 0, 0, 0.31);
  min-height: 420px;
}
#content_area .main .leftSideBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#content_area .main .leftSideBar ul li {
  min-width: 100px;
  padding: 15px;
  border-bottom: 1px solid var(--secondary-color-light);
  border-right: 1px solid var(--secondary-color-light);
  border-top: 1px solid var(--secondary-color-light);
  transition: box-shadow 0.3s;
}
#content_area .main .leftSideBar ul li.active {
  border-right: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: var(--primary-color-light);
  color: #ffff;
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.31), 0px -5px 0px 0px rgba(0, 0, 0, 0.31); */
}
#content_area .main .leftSideBar ul li:hover {
  /* background-color: var(--text-light); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#content_area .main .rightContent {
  flex: 0.8;
  overflow: auto;
}
#content_area .main .rightContent .contentBlock {
  display: none;
  opacity: 0;
  gap: 2rem;
  flex-direction: column;
  transition: all 0.3s ease;
}
#content_area .main .rightContent .contentBlock.active {
  display: flex;
  opacity: 1;
}
#content_area .main .rightContent .spinner {
  display: none;
}
#content_area .main .rightContent .loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#content_area .main .rightContent .loader .skeletonLoader {
  width: 80%;
}
#content_area .metaData .ui.input > input {
  opacity: 0.9;
  color: var(--text-dark) !important;
}
#manifestBlock table tr #digest {
  color: var(--text-link);
  cursor: pointer;
  position: relative;
}
#manifestBlock table tr #digest div {
  overflow: hidden;
  text-overflow: ellipsis;
}
#manifestBlock table tr #digest:hover div {
  width: 92%;
}
#manifestBlock table tr td #copyIcon {
  width: 13px;
  position: absolute;
  top: 18px;
  right: 5%;
  z-index: 10;
  background: white;
  visibility: hidden;
}
#content_area
  .main
  .rightContent
  #manifestBlock
  table
  tr
  #digest:hover
  #copyIcon {
  visibility: visible;
}
#referrerBlock .info,
#referrerBlock .error {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 2rem;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#referrerBlock .info img,
#referrerBlock .error img {
  width: 40px;
}
#manifestTable,
#layersTable,
#configsTable,
#referrers {
  overflow: hidden;
}
#manifestTable .view-item,
#layersTable .view-item,
#configsTable .view-item,
#referrers .view-item {
  display: none;
  margin-top: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
  max-height: 50rem;
  overflow: auto;
}
#manifestTable #jsonV,
#layersTable #jsonV,
#configsTable #jsonV,
#referrers #jsonV {
  max-height: 70vh;
  overflow: auto;
  width: 100%;
}
#manifestTable .view-item.active,
#layersTable .view-item.active,
#configsTable .view-item.active,
#referrers .view-item.active {
  display: block;
  opacity: 1;
}
#referrers #treeV {
  font-size: 20px;
  line-height: 4rem;
  width: 100%;
  overflow: auto;
}
#treeV ul,
#treeV li {
  list-style: none;
  padding-right: 10px;
}
#referrers #treeV > img {
  width: 15px;
}
#treeV summary {
  border: 1px solid var(--secondary-color);
  padding: 0px 10px;
  margin: 10px 0px;
}
#treeV summary {
  position: relative;
}
#treeV summary:open {
  color: orangered;
}
#treeV #digest {
  color: var(--primary-color-light);
}
#treeV #digest:hover {
  text-decoration: underline;
  cursor: pointer;
}
#treeV summary::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: calc(100% - 50%);
  background-color: #ccc;
}

#treeV ul {
  margin-top: 0;
  padding-left: 20px;
  position: relative;
}

#treeV ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  border-left: 1px solid var(--secondary-color-light);
}
