@import url("index.css");

/* input form */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--primary-gradient);
  margin: auto;
}
.form {
  width: 60vw;
  max-width: 1400px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.dropdown .items.active,
.repoDropdown .items.active {
  background-color: var(--text-light);
}
.repoDropdown .repoListItem.active,
.dropdown .tagListItem.active {
  background-color: var(--text-light);
}
.dropdown .error,
.dropdown .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: auto;
  height: 100%;
  flex-direction: column;
}
.dropdown .error img,
.dropdown .info img {
  width: 32px;
}
.registryDropdown .items.active {
  background-color: var(--text-light);
}
.form button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  width: 60%;
  margin: auto;
  text-transform: uppercase;
  font-size: var(--p-size);
  gap: 12px;
  margin-top: 1rem;
}
.hero button img {
  width: 30px;
}
.dropdown .skeletonLoader,
.registryDropdown .skeletonLoader {
  width: 95%;
  transform: translateX(10px);
  margin: 10px 0px;
  height: 50px;
}
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2rem;
  padding-bottom: 0.625rem;
}
/* content area */
#content_area {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  width: 80%;
  max-width: 1500px;
  margin: auto;
  gap: 1rem;
  margin: 4rem auto;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}
#content_area #table {
  padding: 5px;
}

#content_area .main {
  margin-top: 2rem;
}
#content_area
  .ui.labeled.input:not([class*="corner labeled"])
  .label:first-child {
  background: var(--primary-color-light);
  color: white;
}
#content_area .main .leftSideBar {
  border-radius: 10px;
  margin-bottom: 2rem;
}
#content_area .main .leftSideBar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu {
  justify-content: center;
}
#content_area .main .leftSideBar ul li {
  width: 300px;
  padding: 15px;
  border-bottom: 1px solid var(--secondary-color-light);
  border-right: 1px solid var(--secondary-color-light);
  border-top: 1px solid var(--secondary-color-light);
  transition: box-shadow 0.3s;
  border-left: 1px solid var(--secondary-color-light);
  text-align: center;
  display: flex;
  justify-content: center;
}
#content_area .main .leftSideBar ul li.active {
  border-right: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: var(--primary-color-light);
  color: #ffff;
  text-align: center;
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.31), 0px -5px 0px 0px rgba(0, 0, 0, 0.31); */
}
#content_area .main .leftSideBar ul li:hover {
  /* background-color: var(--text-light); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#content_area .main .rightContent {
  overflow: auto;
  max-width: 1200px;
  margin: auto;
}
#content_area .main .rightContent .contentBlock {
  display: none;
  opacity: 0;
  gap: 2rem;
  flex-direction: column;
  transition: all 0.3s ease;
}
#content_area .main .rightContent .contentBlock.active {
  display: flex;
  opacity: 1;
}
#content_area .main .rightContent .spinner {
  display: none;
}
#content_area .main .rightContent .loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#content_area .main .rightContent .loader .skeletonLoader {
  width: 80%;
  margin: auto;
}
#jsonDigest {
  color: var(--text-link);
  cursor: pointer;
}
#jsonDigest:hover {
  text-decoration: underline;
}
#manifestDownload {
  background: var(--primary-color-light);
  padding: 10px 20px;
  border-radius: 5px;
}
#manifestBlock table tr #digest {
  color: var(--text-link);
  cursor: pointer;
  position: relative;
}

#manifestBlock table tr #digest:hover div {
  width: 92%;
}
#manifestBlock table tr td #copyIcon {
  width: 13px;
  position: absolute;
  top: 18px;
  right: 5%;
  z-index: 10;
  background: white;
  visibility: hidden;
}
#manifestBlock table tr #digest:hover #copyIcon {
  visibility: visible;
}
td, tr, th {
  word-break: break-all;
}
#referrerBlock .info,
#referrerBlock .error,
#manifestBlock .error,
#content_area .error {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 2rem;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#referrerBlock .info img,
#referrerBlock .error img,
#manifestBlock .error img {
  width: 40px;
}
#manifestTable,
#referrers {
  overflow: hidden;
}
#manifestTable .view-item,
#referrers .view-item {
  display: none;
  margin-top: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
  max-height: 50rem;
  overflow: auto;
}
#manifestTable #jsonV,
#referrers #jsonV {
  max-height: 70vh;
  overflow: auto;
  width: 100%;
}

#jsonV > pre > span:nth-child(1) {
  display: inline-block;
  margin-left: -107px;
}

#manifestTable .view-item.active,
#referrers .view-item.active {
  display: block;
  opacity: 1;
}
#referrers #treeV {
  font-size: var(--p-size);
  line-height: 3rem;
  width: 100%;
  overflow: auto;
}

#treeV img {
  width: 20px;
  margin-right: 10px;
}

#treeV ul {
  list-style: none;
  /* width: fit-content; */
  padding-right: 15px;
  position: relative;
  padding-left: 30px;
}

#treeV ul.pl-0 {
  padding-left: 5px;
}

#treeV details.pl-0 {
  border-bottom: 2px solid var(--secondary-color-light);
}

#treeV li {
  position: relative;
}

#treeV li summary,
#treeV li a {
  border-top: 2px solid var(--secondary-color-light);
  padding: 15px 10px;
  cursor: pointer;
  position: relative;
}

#treeV li summary .summary-content {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  word-break: break-all;
}

#treeV li summary .summary-content.lightgreen {
  background-color: lightyellow;
}
#treeV li summary .summary-content.lightblue {
  background-color: lightblue;
}
#treeV li summary .summary-content.lightorange {
  background-color: #ffd9c0;
}

#treeV .no-marker {
  display: block;
  margin-left: 18px;
}

#treeV li summary .summary-content > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

#treeV li summary .icon {
  width: 20px;
  flex-shrink: 0;
}

#treeV li summary .text {
  flex-grow: 1;
}

#treeV li a {
  text-decoration: none;
  padding-bottom: 10px;
  display: block;
  padding-left: 0;
}

#treeV a:hover {
  text-decoration: underline;
}

.summary-content .text {
  font-weight: 500;
}

.summary-content .text p {
  margin: 0;
}

#treeV summary > div > div > div.text > p:nth-child(2) > a {
  border-top: none;
  padding-bottom: 5px;
}

/* Add vertical lines */
#treeV li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  border-left: 2px solid var(--secondary-color-light);
  height: 100%;
}

/* Add horizontal lines for child elements */
#treeV li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  border-top: 2px solid var(--secondary-color-light);
  width: 10px;
}

#treeV li details > ul {
  margin-left: 10px;
}

.metaData1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  max-width: 1100px;
  background: #fff;
  padding: 15px;
  word-wrap: break-word;
  margin: auto;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
.metaData1 .textLabel {
  font-size: var(--h3-size);
  font-weight: 600;
  padding: 0px 5px;
}
.metaData1 .textContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  font-weight: 500;
  border-radius: 7px;
  background: #2185d052;
}
.metaData1 .textContent.color1 {
  background: #2185d052;
}
.metaData1 .textContent.color2 {
  background-color: #ffeebba3;
}
.metaData1 .textContent p {
  word-wrap: break-word;
  width: 96%;
  display: block;
  margin-bottom: 0;
  size: var(--p-size);
}
.metaData1 .artifactName {
  font-weight: 600;
}
.metaData1 #copyIcon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.metaData1 button {
  background: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px !important;
}
.metaData1 .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.metaData1 .registry {
  display: flex;
  gap: 1rem;
  font-size: 20px;
  font-weight: 700;
}
.metaData1 .registry img {
  width: 30px;
}

/* single input form styles */
.inputs {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid gray;
  padding: 10px 5px;
  border-radius: 10px;
}

.inputs input {
  position: relative;
  border: none;
  padding: 5px;
  color: var(--secondary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0 !important;
  line-height: 0 !important;
}

.inputs input::placeholder {
  color: #757575;
}

.i1 {
  width: 75px;
  max-width: 30%;
}

.i2 {
  width: 95px;
  max-width: 50%;
}

.i3 {
  min-width: 20%;
  flex: 1;
  max-width: none;
}

.dropdown {
  position: absolute;
  width: 400px;
  height: 250px;
  display: none;
  top: 125%;
  background-color: white;
  border: 1px solid var(--secondary-color-light);
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown > div {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  overflow: auto;
}

.dropdown .items {
  border-bottom: 1px solid var(--secondary-color-light);
  overflow: auto;
  padding: 10px 20px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.dropdown .dropdown-item.active {
  background-color: var(--text-light);
}

.dropdown .items:hover,
.dropdown > div > p:hover {
  background-color: var(--secondary-color-light);
}

.dropdown img {
  width: 25px;
}

.dropdown > div > p {
  width: 100%;
  padding: 8px 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid var(--secondary-color-light);
  white-space: normal;
  word-wrap: break-word;
}

.dropdown > div::-webkit-scrollbar {
  width: 8px;
}

.dropdown > div::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.dropdown > div::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.dropdown > div::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.dropdown > div .skeletonLoader {
  height: 60px;
}

.dropdown::after {
  position: absolute;
  top: -18px;
  left: 10.3%;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.dropdown::before {
  position: absolute;
  top: -21px;
  left: 10.3%;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent var(--secondary-color-light) transparent;
}

.show-dropdown .dropdown {
  display: block;
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}