@import url("index.css");

/* input form */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: var(--primary-gradient);
  margin: auto;
}
.form {
  width: 60vw;
  max-width: 1400px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.artifactInputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--p-size);
  justify-content: center;
}
.artifactInputForm > div {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.artifactInputForm .ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: var(--secondary-color-light);
}
.artifactInputForm #digestortag {
  position: relative;
}
.artifactInputForm #registry,
.artifactInputForm #repository {
  position: relative;
  width: 100%;
}
.tagListDropdown,
.registryDropdown,
.repoDropdown {
  position: absolute;
  top: 70px;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  background: #ffff;
  box-shadow: 2px 7px 10px 0px rgba(0, 0, 0, 0.31);
  flex-direction: column;
  overflow: auto;
}
.registryDropdown {
  height: fit-content;
}
.tagListDropdown,
.repoDropdown {
  height: 165px;
}
.tagListDropdown .items,
.repoDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
}
.tagListDropdown .items.active,
.repoDropdown .items.active {
  background-color: var(--text-light);
}
.tagListDropdown p,
.repoDropdown p {
  padding: 5px 15px;
  cursor: pointer;
}
.tagListDropdown p:hover,
.repoDropdown p:hover {
  background-color: var(--text-light);
}
.repoDropdown .repoListItem.active, .tagListDropdown .tagListItem.active {
  background-color: var(--text-light);
}
.tagListDropdown .error,
.tagListDropdown .info,
.repoDropdown .error,
.repoDropdown .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: auto;
  flex-direction: column;
}
.tagListDropdown .error img,
.tagListDropdown .info img,
.repoDropdown .error img,
.repoDropdown .info img {
  width: 32px;
}
.registryDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.registryDropdown .items.active {
  background-color: var(--text-light);
}
.registryDropdown .items img {
  width: 20px;
}
.registryDropdown .items:hover {
  background-color: var(--text-light);
}
.artifactInputForm .form-control {
  font-size: medium;
}
.artifactInputForm .form-floating > label {
  font-size: var(--p-size);
}
.artifactInputForm .ui.dropdown > .text {
  display: flex;
  align-items: center;
}
.form button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  width: 60%;
  margin: auto;
  text-transform: uppercase;
  font-size: var(--p-size);
  gap: 12px;
  margin-top: 1rem;
}
.hero button img {
  width: 30px;
}
.tagListDropdown .skeletonLoader,
.registryDropdown .skeletonLoader {
  width: 95%;
  transform: translateX(10px);
  margin: 10px 0px;
  height: 50px;
}
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2rem;
  padding-bottom: 0.625rem;
}
/* content area */
#content_area {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  width: 80%;
  max-width: 1500px;
  margin: auto;
  gap: 1rem;
  margin: 4rem auto;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}
#content_area .metaData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}
#content_area .metaData #copyIcon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}
#content_area table #table_digest {
  color: var(--primary-color-light);
  cursor: pointer;
}

#content_area .main {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 3rem;
}
#content_area
  .ui.labeled.input:not([class*="corner labeled"])
  .label:first-child {
  background: var(--primary-color-light);
  color: white;
}
#content_area .main .leftSideBar {
  flex: 0.25;
  padding: 20px 0px;
  border-radius: 10px;
  box-shadow: 4px 5px 19px -7px rgba(0, 0, 0, 0.31);
  min-height: 420px;
}
#content_area .main .leftSideBar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#content_area .main .leftSideBar ul li {
  min-width: 100px;
  padding: 15px;
  border-bottom: 1px solid var(--secondary-color-light);
  border-right: 1px solid var(--secondary-color-light);
  border-top: 1px solid var(--secondary-color-light);
  transition: box-shadow 0.3s;
}
#content_area .main .leftSideBar ul li.active {
  border-right: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: var(--primary-color-light);
  color: #ffff;
  /* box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.31), 0px -5px 0px 0px rgba(0, 0, 0, 0.31); */
}
#content_area .main .leftSideBar ul li:hover {
  /* background-color: var(--text-light); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#content_area .main .rightContent {
  flex: 0.8;
  overflow: auto;
}
#content_area .main .rightContent .contentBlock {
  display: none;
  opacity: 0;
  gap: 2rem;
  flex-direction: column;
  transition: all 0.3s ease;
}
#content_area .main .rightContent .contentBlock.active {
  display: flex;
  opacity: 1;
}
#content_area .main .rightContent .spinner {
  display: none;
}
#content_area .main .rightContent .loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#content_area .main .rightContent .loader .skeletonLoader {
  width: 80%;
}
#content_area .metaData .ui.input > input {
  opacity: 0.9;
  color: var(--text-dark) !important;
}
#jsonDigest {
  color: var(--text-link);
  cursor: pointer;
}
#jsonDigest:hover {
  text-decoration: underline;
}
#manifestDownload {
  background: var(--primary-color-light);
  padding: 10px 20px;
  border-radius: 5px;
}
#manifestBlock table tr #digest {
  color: var(--text-link);
  cursor: pointer;
  position: relative;
}
#manifestBlock table tr #digest div {
  overflow: hidden;
  text-overflow: ellipsis;
}
#manifestBlock table tr #digest:hover div {
  width: 92%;
}
#manifestBlock table tr td #copyIcon {
  width: 13px;
  position: absolute;
  top: 18px;
  right: 5%;
  z-index: 10;
  background: white;
  visibility: hidden;
}
#manifestBlock table tr #digest:hover #copyIcon {
  visibility: visible;
}
#referrerBlock .info,
#referrerBlock .error,
#manifestBlock .error,
#content_area .error {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 2rem;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#referrerBlock .info img,
#referrerBlock .error img,
#manifestBlock .error img {
  width: 40px;
}
#manifestTable,
#referrers {
  overflow: hidden;
}
#manifestTable .view-item,
#referrers .view-item {
  display: none;
  margin-top: 1rem;
  opacity: 0;
  transition: all 0.3s ease;
  max-height: 50rem;
  overflow: auto;
}
#manifestTable #jsonV,
#referrers #jsonV {
  max-height: 70vh;
  overflow: auto;
  width: 100%;
}

#table #mediaType:hover {
  cursor: default;
  overflow: auto;
  text-overflow: inherit;
}

#jsonV > pre > span:nth-child(1) {
  display: inline-block;
  margin-left: -107px;
}

#manifestTable .view-item.active,
#referrers .view-item.active {
  display: block;
  opacity: 1;
}
#referrers #treeV {
  font-size: var(--p-size);
  line-height: 3rem;
  width: 100%;
  overflow: auto;
}

#treeV img {
  width: 20px;
  margin-right: 10px;
}

#treeV ul {
  list-style: none;
  width: fit-content;
  position: relative;
  padding-left: 20px;
}

#treeV li {
  position: relative;
}

#treeV li summary,
#treeV li a {
  border-top: 1px solid gray;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

#treeV li a {
  text-decoration: none;
  padding-bottom: 10px;
  display: block;
}

#treeV a:hover {
  text-decoration: underline;
}

/* Add vertical lines */
#treeV li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  border-left: 1px solid gray;
  height: 100%;
}

/* Add horizontal lines for child elements */
#treeV li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  border-top: 1px solid gray;
  width: 10px;
}

#treeV li details > ul {
  margin-left: 10px;
}
