@import url("./index.css");

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
#blobHead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#blobHead .buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#blobHead h4 {
  word-wrap: break-word;
  border: 1px solid var(--secondary-color-light);
  padding: 20px;
  max-width: fit-content;
  border-radius: 10px;
}
#blobContent {
  max-width: 80%;
  max-height: 40vh;
  overflow: auto;
  border: 1px solid var(--secondary-color-light);
  padding: 10px;
  border-radius: 10px;
}
#blobContent > pre {
  font-size: 16px;
}
#blobContent > pre > span:nth-child(1) {
  display: inline-block;
  margin-left: -110px;
}
.spinner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.spinner .skeletonLoader:first-child {
  width: 60%;
  height: 100px;
}
.spinner .skeletonLoader:nth-child(2) {
  width: 60%;
  height: 40vh;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 25px;
}
.error img {
    width: 60px;
}