@import url("./index.css");

body {
  min-height: 100vh;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.registry {
  display: flex;
  gap: 1rem;
  font-size: 24px;
  font-weight: 700;
}
.registry img {
  width: 30px;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.content.hide {
  display: none;
}
#blobHead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.metaData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  max-width: 1100px;
  background: #fff;
  padding: 15px;
  word-wrap: break-word;
  margin: auto;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
.textLabel {
  font-size: var(--h3-size);
  font-weight: 600;
  padding: 0px 5px;
}
.textContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  font-weight: 500;
  border-radius: 7px;
  background: #2185d052;
}
.textContent.color1 {
  background: #2185d052;
}
.textContent.color2 {
  background-color: #ffeebba3;
}
.textContent p {
  word-wrap: break-word;
  width: 96%;
  display: block;
  margin-bottom: 0;
  size: var(--p-size);
}
.metaData #copyIcon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 0.9;
  color: var(--text-dark) !important;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  background: var(--primary-color-light);
  color: white;
}
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
}
.blobContent {
  max-width: 1400px;
  min-width: 600px;
  max-height: 60vh;
  overflow: auto;
  border: 1px solid var(--secondary-color-light);
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
.blobContent > pre {
  font-size: 16px;
}
.blobContent > pre > span:nth-child(1) {
  display: inline-block;
  margin-left: -140px;
}
.blobContent > pre > .json-mark {
  color: var(--secondary-color);
}
.blobContent > pre > .json-key {
  color: brown;
}
.blobContent > pre > .json-string {
  color: olive;
}
.blobContent > pre > .json-boolean,
pre > .json-number {
  color: navy;
}
button {
  background: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px !important;
}
.spinner {
  display: flex;
  padding: 20px;
  margin-bottom: 3rem;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
}
.spinner.hide {
  display: none;
}
.spinner .skeletonLoader:first-child {
  width: 60%;
  height: 100px;
}
.spinner .skeletonLoader:nth-child(2) {
  width: 60%;
  height: 40vh;
}
.skeletonLoader {
  margin: auto;
}
.error {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: var(--h3-size);
}
.error img {
  width: 40px;
}
