@import url("./index.css");

body {
  min-height: 100vh;
}
.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.content.hide {
  display: none;
}
#blobHead {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.metaData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}
.metaData #copyIcon {
  width: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.ui.disabled.input,
.ui.input:not(.disabled) input[disabled] {
  opacity: 0.9;
  color: var(--text-dark) !important;
}
.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
  background: var(--primary-color-light);
  color: white;
}
.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.blobContent {
  max-width: 80%;
  max-height: 40vh;
  overflow: auto;
  border: 1px solid var(--secondary-color-light);
  padding: 10px;
  border-radius: 10px;
}
.blobContent > pre {
  font-size: 16px;
}
.blobContent > pre > span:nth-child(1) {
  display: inline-block;
  margin-left: -140px;
}
.blobContent > pre > .json-mark {
  color: var(--secondary-color);
}
.blobContent > pre > .json-key{
  color: brown;
}
.blobContent > pre > .json-string{
  color: olive;
}
.blobContent > pre > .json-boolean, pre > .json-number{
  color: navy;
}
.buttonGroup > button:nth-child(1) {
  background: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px !important;
}
.buttonGroup > button:nth-child(2) {
  border: 2px solid var(--secondary-color-dark);
  padding: 10px 20px;
  color: var(--text-dark);
  border-radius: 5px;
}
.spinner {
  display: flex;
  padding: 20px;
  margin-bottom: 3rem;
  flex-direction: column;
  gap: 2rem;
}
.spinner.hide {
  display: none;
}
.spinner .skeletonLoader:first-child {
  width: 60%;
  height: 100px;
}
.spinner .skeletonLoader:nth-child(2) {
  width: 60%;
  height: 40vh;
}
.error {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: var(--h3-size);
}
.error img {
  width: 40px;
}
