@import url("./index.css");

.hero {
  background: url("../images/heroBg.svg");
  height: 400px;
  /* height: 100vh; */
  /* background: linear-gradient(to bottom, #2e303e, transparent); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero .heroHead {
  text-align: center;
  transform: translateY(-30%);
}
.hero h1 {
  color: #ffff;
  font-weight: 700;
  font-size: var(--h1-size);
  z-index: 10;
}
.hero .heroHead p {
  color: var(--text-light);
  font-size: var(--h3-size);
  margin-top: -5px;
}
.form {
  width: 60vw;
  max-width: 1400px;
  transform: translateY(-40%);
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.artifactInputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--p-size);
  justify-content: center;
}
.artifactInputForm > div {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.artifactInputForm .ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: var(--secondary-color-light);
}
.artifactInputForm #digestortag {
  position: relative;
}
.artifactInputForm #registry,
.artifactInputForm #repository {
  position: relative;
  width: 100%;
}
.tagListDropdown,
.registryDropdown,
.repoDropdown {
  position: absolute;
  top: 70px;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  background: #ffff;
  box-shadow: 2px 7px 10px 0px rgba(0, 0, 0, 0.31);
  flex-direction: column;
  overflow: auto;
}
.registryDropdown {
  height: fit-content;
}
.tagListDropdown,
.repoDropdown {
  height: 165px;
}
.repoDropdown .repoListItem.active, .tagListDropdown .tagListItem.active {
  background-color: var(--text-light);
}
.registryDropdown .items.active {
  background-color: var(--text-light);
}
.tagListDropdown .items.active,
.repoDropdown .items.active {
  background-color: var(--text-light);
}
.tagListDropdown .items,
.repoDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
}
.tagListDropdown p,
.repoDropdown p {
  padding: 5px 15px;
  cursor: pointer;
}
.tagListDropdown p:hover,
.repoDropdown p:hover {
  background-color: var(--text-light);
}
.tagListDropdown .error,
.tagListDropdown .info,
.repoDropdown .error,
.repoDropdown .info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: auto;
  flex-direction: column;
}
.tagListDropdown .error img,
.tagListDropdown .info img,
.repoDropdown .error img,
.repoDropdown .info img {
  width: 32px;
}
.registryDropdown .items {
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.registryDropdown .items img {
  width: 20px;
}
.registryDropdown .items:hover {
  background-color: var(--text-light);
}
.artifactInputForm .form-control {
  font-size: medium;
}
.artifactInputForm .form-floating > label {
  font-size: var(--p-size);
}
.artifactInputForm .ui.dropdown > .text {
  display: flex;
  align-items: center;
}
.form button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  width: 60%;
  margin: auto;
  text-transform: uppercase;
  font-size: var(--p-size);
  gap: 12px;
  margin-top: 1rem;
}
.hero button img {
  width: 30px;
}
.tagListDropdown .skeletonLoader,
.registryDropdown .skeletonLoader {
  width: 95%;
  transform: translateX(10px);
  margin: 10px 0px;
  height: 50px;
}
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown),
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 2rem;
  padding-bottom: 0.625rem;
}
/* main body */
.main {
  max-width: 1500px;
  margin: auto;
}
.main .rgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
  margin: 2rem;
}
.main .rgs img {
  width: 65px;
}
.main .about,
.main .features {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.main .about h1 {
  color: var(--primary-color);
  font-size: var(--h2-size);
  font-weight: 600;
}
.main .about p {
  font-size: var(--p-size) !important;
  width: 80%;
}
.main .features h1 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--h2-size);
}
/* main body */
.features .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
}
.cardItem {
    width: 100%;
    border-radius: 30px;
    border: 3px solid #E6E6E6;
    background: #FFF;
    padding: 20px;
    text-align: left;
}
.cardItem img {
    width: 40px;
}
.cardItem .icon {
    padding: 15px;
    border: 3px solid #E6E6E6;
    background: #FFF;
    border-radius: 30%;
    /* display: flex; */
    width: fit-content;
}
.cardItem h3{
    font-size: var(--h3-size);
    font-weight: 600;
    margin-top: 10px;
}
.cardItem p {
    font-size: var(--p-size);
    margin-top: 40px;
    color: var(--secondary-color);
}
.community {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
.community h1 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--h2-size);
}
.community .connectOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem;
}
.community .urls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    font-size: var(--p-size);
}
.community .urlItems {
    display: flex;
    gap: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
}
.community .urlItems img {
    width: 25px;
}
.urlItems p {
    font-weight: 700;
}
.community .calendarBlock {
    background: var(--primary-gradient);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}
.calendarBlock button {
    margin: auto;
    color: var(--primary-color);
    padding: 10px 20px;
    margin-top: 3rem;
}