@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  /* colors */
  --primary-color: #4053b8;
  --primary-color-light: #2185d0;
  --primary-gradient: linear-gradient(101deg, #4051b5 15.63%, #4285f4 90.96%);
  --secondary-color-light: rgba(208, 205, 205, 0.82);
  --secondary-color: #303846;
  --secondary-color-dark: rgba(0, 0, 0, 0.39);
  --text-light: #ebe9e9;
  --text-dark: #2e303e;
  --text-link: #007bff;

  /* typography */
  --h1-size: 40px;
  --p-size: 16px;
  --h2-size: 30px;
  --h3-size: 20px;

  /* screenwidths */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 1024px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  font-size: var(--p-size);
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color-light);
}
button {
  border: none;
  border-radius: 10px;
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  transition: all 300ms ease;
}
button:active {
  transform: scale(0.94);
}

/* navbar */
nav {
  background: var(--primary-gradient);
  padding: 8px 14px;
  display: flex;
  justify-content: center;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color-light);
}
nav ul li a:hover {
  color: var(--text-light);
  cursor: pointer;
}
nav #logo {
  height: 30px;
}
/* footer */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  /* position: absolute; */
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: var(--p-size);
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: var(--p-size);
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/* others */
.skeletonLoader {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    90deg,
    var(--secondary-color-light) 0px,
    #f8f8f8 50%,
    var(--secondary-color-light) 100%
  );
  border-radius: 4px;
  animation: skeleton-loading 1s infinite ease-in-out;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
.hide {
  display: none;
}
.show {
  display: flex;
}