<!DOCTYPE html>
<html lang="en">
  {{ template "artifactHeader" }}
  <body>
    {{ template "navbar" }}

    <!-- hero form -->
    <div class="hero">
      <div class="hero_about"></div>
      <div class="form">
        <h1>Enter artifact details</h1>
        <div class="ui fluid selection dropdown mb-3">
          <input type="hidden" name="registry" />
          <i class="dropdown icon"></i>
          <div class="default text">Select registry</div>
          <div class="menu">
            <div class="item" data-value="docker.io/">
              <img
                class="ui mini avatar image"
                src="./static/images/registryImages/image1.svg"
              />
              docker.io
            </div>
            <div class="item" data-value="gcr.io/">
              <img
                class="ui mini avatar image"
                src="./static/images/registryImages/image2.svg"
              />
              gcr.io
            </div>
            <div class="item" data-value="zot.io/">
              <img
                class="ui mini avatar image"
                src="./static/images/registryImages/image4.svg"
              />
              zot.io
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="library/nginx"
          />
          <label for="floatingInput">Repository name</label>
        </div>

        <div class="form-floating mb-3" id="digestortag">
          <input
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="library/nginx"
            oninput="updateTagList()"
            onfocus="listTags()"
          />
          <label for="floatingInput">Tag or Digest</label>
          <div class="tagListDropdown hide"></div>
        </div>

        <a href="#content_area">
          <button onclick="onSubmit()">
            <div class="icon">
              <img src="./static/images/downArrow.svg" alt="" />
            </div>
            Explore contents
          </button>
        </a>
      </div>
    </div>

    <!-- artifact content section -->
    <div id="content_area">
      <h1>Artifact</h1>
      <div class="metaData">
        <div class="ui labeled input">
          <div class="ui label">Artifact Name:</div>
          <input type="text" placeholder="not available" disabled />
        </div>
        <div class="ui labeled input">
          <div class="ui label">Content-Digest:</div>
          <input type="text" placeholder="not available" disabled />
        </div>
        <div class="ui labeled input">
          <div class="ui label">MediaType:</div>
          <input type="text" placeholder="not available" disabled />
        </div>
      </div>

      <div class="main">
        <div class="leftSideBar">
          <ul>
            <li class="active" onclick="alterRightSide('manifestBlock')">
              Contents
            </li>
            <li onclick="alterRightSide('referrerBlock')">Referrers</li>
            <li onclick="alterRightSide('blobBlock')">Blobs</li>
            <li onclick="alterRightSide('othersBlock')">Others</li>
          </ul>
        </div>
        <div class="rightContent">
          <div class="spinner spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div id="manifestBlock" class="contentBlock active">
            Nothing to show
          </div>
          <div id="referrerBlock" class="contentBlock">Nothing to show</div>
          <div id="blobBlock" class="contentBlock">Nothing to show</div>
          <div id="othersBlock" class="contentBlock">Nothing to show</div>
        </div>
      </div>
    </div>

    {{ template "footer" }}
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
