<!DOCTYPE html>
<html lang="en">
  {{ template "artifactHeader" }}
  <body>
    <div>
      {{ template "navbar" }}

      <!-- hero form -->
      <div class="hero">
        <div class="form">
          {{template "inputForm"}}
          <button onclick='onSubmit("artifact")'>
            <div class="icon">
              <img src="./static/images/downArrow.svg" alt="" />
            </div>
            Explore contents
          </button>
        </div>
      </div>

      <!-- artifact content section -->
      <div id="content_area" class="hide">
        <div class="metaData1">
          <div class="head">
            <div class="registry">
              <img src="" alt="" />
              <p></p>
            </div>
            <button
              type="button"
              id="manifestDownload"
              onclick="openDownloadModal({type: 'manifest'})"
            >
              Download
            </button>
          </div>
          <div class="text">
            <div class="textContent">
              <p class="artifactName">not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Digest:</div>
            <div class="textContent color2">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Media Type:</div>
            <div class="textContent color1">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Size:</div>
            <div class="textContent color1">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
        </div>

        <div class="main">
          <div class="leftSideBar">
            <ul>
              <li
                class="active show"
                onclick="alterRightSide('manifestBlock')"
                id="manifestSidebarItem"
              >
                Contents
              </li>
              <li
                id="referrerSidebarItem"
                onclick="alterRightSide('referrerBlock')"
              >
                Referrers
              </li>
            </ul>
          </div>
          <div class="rightContent">
            <div class="spinner loadingBlock">
              <div class="skeletonLoader"></div>
              <div class="skeletonLoader"></div>
              <div class="skeletonLoader"></div>
              <div class="skeletonLoader"></div>
            </div>
            <div id="manifestBlock" class="contentBlock active"></div>
            <div id="referrerBlock" class="contentBlock"></div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="modalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="modalLabel">Enter file name</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                id="modalClose"
              ></button>
            </div>
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
    </div>

    {{ template "footer" }}
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
