<!DOCTYPE html>
<html lang="en">
  {{ template "artifactHeader" }}
  <body>
    {{ template "navbar" }}

    <!-- hero form -->
    <div class="hero">
      <div class="hero_about"></div>
      <div class="form">
        <h1>Enter artifact details</h1>
        {{template "form"}}
        <button onclick='onSubmit("artifact")'>
          <div class="icon">
            <img src="./static/images/downArrow.svg" alt="" />
          </div>
          Explore contents
        </button>
      </div>
    </div>

    <!-- artifact content section -->
    <div id="content_area" class="hide">
      <h1>Artifact</h1>
      <div class="metaData">
        <div class="ui labeled input">
          <div class="ui label">Artifact Name:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon">
        </div>
        <div class="ui labeled input">
          <div class="ui label">Content-Digest:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon">
        </div>
        <div class="ui labeled input">
          <div class="ui label">MediaType:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon">
        </div>
      </div>

      <div class="main">
        <div class="leftSideBar">
          <ul>
            <li class="active" onclick="alterRightSide('manifestBlock')" id="manifest">
              Contents
            </li>
            <li onclick="alterRightSide('referrerBlock')">Referrers</li>
            <li onclick="alterRightSide('blobBlock')" id="blobSidebarItem" class="hide">Layers</li>
            <li onclick="alterRightSide('othersBlock')">Others</li>
          </ul>
        </div>
        <div class="rightContent">
          <div class="spinner loadingBlock">
            <div class="skeletonLoader"></div>
            <div class="skeletonLoader"></div>
            <div class="skeletonLoader"></div>
            <div class="skeletonLoader"></div>
          </div>
          <div id="manifestBlock" class="contentBlock active">
            Nothing to show
          </div>
          <div id="referrerBlock" class="contentBlock">Nothing to show</div>
          <div id="blobBlock" class="contentBlock">Nothing to show</div>
          <div id="othersBlock" class="contentBlock">Nothing to show</div>
        </div>
      </div>
    </div>

    {{ template "footer" }}
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
