<!DOCTYPE html>
<html lang="en">
  {{ template "blobHeader" }}
  <body>
    <div>
      {{ template "navbar" }}
      <div class="spinner">
        <div class="skeletonLoader"></div>
        <div class="skeletonLoader"></div>
      </div>
      <div class="content hide">
        <div class="metaData">
          <div class="head">
            <div class="registry">
              <img src="" alt="" />
              <p></p>
            </div>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal">
              Download
            </button>
          </div>
          <div class="text">
            <div class="textLabel color1">Full Reference:</div>
            <div class="textContent">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Digest:</div>
            <div class="textContent color2">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Media Type:</div>
            <div class="textContent color1">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
          <div class="text">
            <div class="textLabel">Content Length:</div>
            <div class="textContent color2">
              <p>not available</p>
              <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
            </div>
          </div>
        </div>
        <div class="blobContent"></div>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="modalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">
                  Enter file name
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  id="modalClose"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p id="downloadErrorInfo" class="hide"></p>
                <input
                  type="text"
                  id="blobFileName"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="dwnBtn"
                  onclick="downloadBlob()"
                >
                  Download
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
    <script>
      const blobContent = document.querySelector(".content .blobContent");
      const metaData = document.querySelector(".content .metaData");
      const ins = document.querySelectorAll(
        ".content .metaData .text .textContent p"
      );
      const loader = document.querySelector(".spinner");
      const copyIcons = document.querySelectorAll("#copyIcon");

      let artifactParams = null;
      const regSrc = {
        "docker.io": "./static/images/registryImages/image1.svg",
        "mcr.microsoft.com": "./static/images/registryImages/image7.png",
        "zot.io": "./static/images/registryImages/image4.svg",
        "ghcr.io": "./static/images/registryImages/image6.svg",
        "gcr.io": "./static/images/registryImages/image2.svg",
      };

      function downloadBlob() {
        const apiURL = `/api/blob?registry=${artifactParams[1]}/&name=${artifactParams[2]}&digest=${artifactParams[3]}&type=download`;
        const fileInput = document.querySelector("#blobFileName");
        const downloadBtn = document.querySelector("#dwnBtn");
        const errorInfo = document.querySelector("#downloadErrorInfo");
        const modalCloseBtn = document.getElementById("modalClose");

        errorInfo.style.color = "crimson";
        errorInfo.style.fontSize = "15px";

        let fileName = fileInput.value ? fileInput.value : "file";
        fileInput.value = "";

        downloadBtn.textContent = "loading...";
        fetch(apiURL)
          .then((response) => {
            const contentDisposition = response.headers.get(
              "Content-Disposition"
            );
            if (
              contentDisposition &&
              contentDisposition.indexOf("filename=") !== -1
            ) {
              const cd = contentDisposition.split("filename=")[1].trim();
              fileName = fileName + "." + cd.split(".")[1];
            }

            return response.blob().then((blob) => {
              const downloadLink = document.createElement("a");
              downloadLink.href = URL.createObjectURL(blob);
              downloadLink.download = filename;

              document.body.appendChild(downloadLink);
              downloadLink.click();

              document.body.removeChild(downloadLink);
              modalCloseBtn.click();
            });
          })
          .catch((error) => {
            errorInfo.classList.add("show");
            errorInfo.classList.remove("hide");
            errorInfo.textContent = `Download failed: ${error.message}`;
            setTimeout(() => {
              errorInfo.classList.add("hide");
              errorInfo.classList.remove("show");
            }, 2000);
          })
          .finally(() => {
            downloadBtn.textContent = "Download";
          });
      }
      async function blobData(URL) {
        try {
          const response = await fetch(URL);

          if (!response.ok) {
            throw new Error("Failed to fetch blob contents");
          }
          const data = await response.json();
          return data;
        } catch (err) {
          return err;
        }
      }
      document.addEventListener("DOMContentLoaded", async function () {
        const pathname = window.location.pathname;
        const blob = new URLSearchParams(window.location.search).get("layer");

        if (!pathname.substring(pathname.lastIndexOf("/") + 1) || !blob) return;
        const regex = /^(.+?)\/(.+?)(?::|@)(.+)$/;
        const matches = blob.match(regex);
        artifactParams = matches;

        try {
          const data = await blobData(
            `/api/blob?registry=${matches[1]}/&name=${matches[2]}&digest=${matches[3]}`
          );

          ins[0].textContent = data.Artifact ? data.Artifact : "not available";
          copyIcons[0].setAttribute("data-value", data.Artifact || "");
          ins[1].textContent = data.Digest ? data.Digest : "not available";
          copyIcons[1].setAttribute("data-value", data.Digest || "");
          ins[2].textContent = data.ContentType
            ? data.ContentType
            : "not available";
          copyIcons[2].setAttribute("data-value", data.ContentType || "");
          ins[3].textContent =
            data.ContentLength !== null ? data.ContentLength : "not available";
          copyIcons[3].setAttribute("data-value", data.ContentLength || "");

          document.querySelector(".registry img").src = regSrc[matches[1]];
          document.querySelector(".registry p").textContent = matches[1];
          loader.classList.add("hide");
          document.querySelector(".content").classList.remove("hide");

          if (!data.Data) {
            blobContent.innerHTML = "";
            blobContent.classList.add("hide");
            return;
          }
          if (
            data.ContentLength > 120000 ||
            (Array.isArray(data.Data) && !data.Data.length)
          ) {
            blobContent.innerHTML = `
            <div class="error">
            <img src="./static/images/infoIcon.svg"/>
            <div>Cannot display blob contents</div>
            </div>`;
            return;
          }

          blobContent.innerHTML = `
            <pre>
                ${prettyPrintJson.toHtml(data.Data)}
            </pre>
            `;
        } catch (err) {
          console.log(err);
          blobContent.innerHTML = `
            <div class="error">
            <img src="./static/images/crossIcon.svg"/>
            <div>Failed to fetch blob contents</div>
            </div>`;
        } finally {
          loader.classList.add("hide");
        }
      });

      document.addEventListener("click", (event) => {
        const icon = event.target;

        if (icon.id === "copyIcon") {
          icon.src = "./static/images/tickIcon.svg";
          const dataValue = icon.dataset.value;

          const tempTextArea = document.createElement("textarea");
          tempTextArea.value = dataValue;
          tempTextArea.style.position = "fixed";
          tempTextArea.style.opacity = 0;
          document.body.appendChild(tempTextArea);

          tempTextArea.select();
          tempTextArea.setSelectionRange(0, 99999);
          document.execCommand("copy");

          document.body.removeChild(tempTextArea);
          setTimeout(() => {
            icon.src = "./static/images/copyIcon.svg";
          }, 500);
        }
      });
    </script>
  </body>
</html>
