<!DOCTYPE html>
<html lang="en">
  {{ template "blobHeader" }}
  <body>
    {{ template "navbar" }}
    <div class="spinner">
      <div class="skeletonLoader"></div>
      <div class="skeletonLoader"></div>
    </div>
    <div class="content hide">
      <div class="metaData">
        <div class="ui labeled input">
          <div class="ui label">Artifact Name:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
        </div>
        <div class="ui labeled input">
          <div class="ui label">Content-Digest:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
        </div>
        <div class="ui labeled input">
          <div class="ui label">Content-Type:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
        </div>
        <div class="ui labeled input">
          <div class="ui label">Content-Length:</div>
          <input type="text" placeholder="not available" disabled />
          <img src="./static/images/copyIcon.svg" alt="" id="copyIcon" />
        </div>
      </div>
      <div class="buttonGroup">
        <button onclick="downloadBlob()">Download</button>
        <!-- <button>Copy</button> -->
      </div>
      <div class="blobContent"></div>
    </div>
    {{template "footer"}}
    <script>
      const blobContent = document.querySelector(".content .blobContent");
      const metaData = document.querySelector(".content .metaData");
      const ins = document.querySelectorAll(".content .metaData input");
      const loader = document.querySelector(".spinner");
      const downloadBtn = document.querySelector(".buttonGroup > button");
      const copyIcons = document.querySelectorAll("#copyIcon")

      let artifactParams = null;

      function downloadBlob() {
        const apiURL = `/api/blob?registry=${artifactParams[1]}/&name=${artifactParams[2]}&digest=${artifactParams[3]}&type=download`;

        downloadBtn.textContent = "loading...";
        fetch(apiURL)
          .then((response) => {
            const contentDisposition = response.headers.get(
              "Content-Disposition"
            );
            let filename = "file";
            if (
              contentDisposition &&
              contentDisposition.indexOf("filename=") !== -1
            ) {
              filename = contentDisposition.split("filename=")[1].trim();
            }

            return response.blob().then((blob) => {
              const downloadLink = document.createElement("a");
              downloadLink.href = URL.createObjectURL(blob);
              downloadLink.download = filename;

              document.body.appendChild(downloadLink);
              downloadLink.click();

              document.body.removeChild(downloadLink);
            });
          })
          .catch((error) => {
            console.error("Error while fetching the file:", error);
          })
          .finally(() => (downloadBtn.textContent = "Download"));
      }
      async function blobData(URL) {
        try {
          const response = await fetch(URL);

          if (!response.ok) {
            throw new Error("Failed to fetch blob contents");
          }
          const data = await response.json();
          return data;
        } catch (err) {
          return err;
        }
      }
      document.addEventListener("DOMContentLoaded", async function () {
        const pathname = window.location.pathname;
        const blob = new URLSearchParams(window.location.search).get("layer");

        if (!pathname.substring(pathname.lastIndexOf("/") + 1) || !blob) return;
        const regex = /^(.+?)\/(.+?)(?::|@)(.+)$/;
        const matches = blob.match(regex);
        artifactParams = matches;

        try {
          const data = await blobData(
            `/api/blob?registry=${matches[1]}/&name=${matches[2]}&digest=${matches[3]}`
          );

          ins[0].value = data.Artifact ? data.Artifact : "not available";
          copyIcons[0].setAttribute("data-value", data.Artifact || "");
          ins[1].value = data.Digest ? data.Digest : "not available";
          copyIcons[1].setAttribute("data-value", data.Digest || "");
          ins[2].value = data.ContentType ? data.ContentType : "not available";
          copyIcons[2].setAttribute("data-value", data.ContentType || "");
          ins[3].value = data.ContentLength
            ? data.ContentLength
            : "not available";
          copyIcons[3].setAttribute("data-value", data.ContentLength || "");

          loader.classList.add("hide");
          document.querySelector(".content").classList.remove("hide");
          console.log(data);
          if (
            (Array.isArray(data.Data) && !data.length) ||
            !Object.keys(data.Data).length ||
            data.ContentLength > 120000
          ) {
            blobContent.innerHTML = `
            <div class="error">
            <img src="./static/images/infoIcon.svg"/>
            <div>Cannot display blob contents</div>
            </div>`;
            return;
          }

          blobContent.innerHTML = `
            <pre>
                ${prettyPrintJson.toHtml(data.Data)}
            </pre>
            `;
        } catch (err) {
          blobContent.innerHTML = `
            <div class="error">
            <img src="./static/images/crossIcon.svg"/>
            <div>Failed to fetch blob contents</div>
            </div>`;
        } finally {
          loader.classList.add("hide");
        }
      });

      document.addEventListener("click", (event) => {
        const icon = event.target;

        if (icon.id === "copyIcon") {
          icon.src = "./static/images/tickIcon.svg";
          const dataValue = icon.dataset.value;

          const tempTextArea = document.createElement("textarea");
          tempTextArea.value = dataValue;
          tempTextArea.style.position = "fixed";
          tempTextArea.style.opacity = 0;
          document.body.appendChild(tempTextArea);

          tempTextArea.select();
          tempTextArea.setSelectionRange(0, 99999);
          document.execCommand("copy");

          document.body.removeChild(tempTextArea);
          setTimeout(() => {
            icon.src = "./static/images/copyIcon.svg";
          }, 500);
        }
      });
    </script>
  </body>
</html>
