<!DOCTYPE html>
<html lang="en">
  {{ template "homeHeader" }}
  <body>
    {{ template "navbar" }}
    <!-- hero section -->
    <div class="hero">
      <div class="heroHead">
        <h1>ORAS Artifact Explorer</h1>
        <p>
          Explore the content of OCI artifacts from any public repository at
          ease with ORAS under the hood
        </p>
      </div>
      <div class="form">
        {{ template "form" }}
        <button>
          Explore now <img src="./static/images/rightArrow.svg" alt="" />
        </button>
      </div>
    </div>
    <!-- main body -->
    <div class="main">
      <div class="rgs">
        <img src="./static/images/registryImages/image1.svg" alt="" />
        <img src="./static/images/registryImages/image2.svg" alt="" />
        <img src="./static/images/registryImages/image3.svg" alt="" />
        <img src="./static/images/registryImages/image4.svg" alt="" />
        <img src="./static/images/registryImages/image5.svg" alt="" />
      </div>
      <div class="about">
        <h1>What is ORAS Artifact Explorer?</h1>
      </div>
      <div class="features">
        <h1>Features</h1>
      </div>
    </div>
    {{template "footer"}}
    <script>
      $(".ui.dropdown").dropdown();
    </script>
  </body>
</html>
